# SPDX-License-Identifier: GPL-2.0-only

config DRM_IMX_CDNS_MHDP
	tristate "NXP i.MX MX8 DRM DP"
	select DRM_CDNS_MHDP
	select DRM_CDNS_DP
	help
	  Choose this if you want to use Displayport on i.MX8.
